*.h.save
*.c.save
*.layout.save
*.layout
*.depend
*.o
*.exe
skyjo_action/skyjo_action.layout
skyjo_action/skyjo_action.depend
skyjo_action/obj/Debug/initialisation.o
skyjo_action/obj/Debug/affichage.o
